/**{
    background-color: #009c97;
}*/
#principal{
    text-align: center;
    width: 95%;
}
/*#barra{
    position: sticky;
    top: 0;
    background-color: #fff;
}*/
#banner{
    position: relative;
    display: inline-block;
}
#titulo{
    color:black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-shadow: 1px 1px white, 2px 2px red;
}
#imagen{
    padding: 5px;
    border: 3px;
}
#navegacion{
    text-align: center;
}
#navegacion li{
    display: inline;
    padding: 5px;
    margin: 2px;
}
.link{
    text-decoration: none;
    color: black;
}
#container{
    width: 70%;
    display: inline-block;
    max-width: 1100px;
}
.card1{
    display: inline-block;
    width: 30%;
    height: 380px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: opx 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card1:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.card1 img{
    width: 100%;
    height: 210px;
}
.card2{
    display: inline-block;
    width: 30%;
    height: 380px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: opx 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card2:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.card2 img{
    width: 100%;
    height: 200px;
}
#aside{
    width: 25%;
    display: inline-block;
}
h2{
    text-align: center;
}
#container2{
    text-align: justify;
    width: 70%;
    display: inline-block;
}
#container2 li{
    text-align: left;
}

