*{
    background-color: black;
}
#pricipal{
    width: 90%;
}
#Logo{
    width: 200px;
    text-align: right;
}
#banner{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin: 5px;
    padding: 20px 20px 20px 20px;
}
#banner header{
    margin-right: 100px;
    font-size: 40px;
}
.headers{
    color: blueviolet;
}
#contenido{
    width: 50%;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 20px 20px 20px 20px;
}
#info{
    display: inline-block;
    width: 20%;
    color: white;
    margin-left: 50px;
}